body{
    background-color: #EEE;
}
textarea{
    display: block;
    width: 100%;
    height: 200px;
    padding: 6px 12px;
    margin: 10px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.main{
    width: 1020px;
    margin: 10px auto;
}
button{
    padding: 7px 10px;
    font-size: .95em;
    border: 0;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
    margin-bottom: 10px;
    color: #FFF;
    background: #07b6ea;
}
button:hover{
    background: #e4572e;
}
input{
    width: 400px;
    height: 26px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #474747;
}